@model thebeebs.co.uk.Page
@{
	Layout = "~/Views/base";	
}
<section class="column-8" id="content">
	<article class="post-19160 post type-post status-publish format-standard has-post-thumbnail hentry category-comment tag-promoted content-articles" id="post-19160">

		<header>
			<h1 class="entry-title"><a href="http://thebeebs.co.uk/do-developers-have-a-god-complex/" rel="bookmark">
				@Model.Title</h1>
			<section class="entry-meta">
				Published on
				<span class="text">
					<time class="published" datetime="2013-08-05">August 5, 2013</time>
					by <a title="See 's Profile" class="author" href="http://thebeebs.co.uk/author/thebeebs/">thebeebs</a>
					<a title="Subscribe to 's posts by RSS" class="authorrss" href="http://thebeebs.co.uk/author/thebeebs/feed/"><span class="screen-reader-text">RSS</span></a>
				</span>
			</section>

		</header>

		<section class="entry-content">

			<p>If we’re honest, developers aren’t great at managing conflict. Don’t get me wrong, many can flame with the best of them, but coming to an accommodation with others we disagree with isn’t generally our strongest skill.</p>
			<p>We tend to work in a world of binary absolutes. We’re used to God-like control over our creations – control we exploit to pixel-perfection. But, of course, the real world of real people just isn’t like that.</p>
			<p>Some years back, I remember having a 2-hour argument with another developer over whether private variable should start with an uppercase or lowercase letter. I was convinced I was right of course. But so was he.</p>
			<p>The uncomfortable fact is that sometimes there just isn’t a perfect answer. Whatever we choose will be, to a greater or lesser extent, a compromise. Sometimes good enough is, well, good enough.</p>
			<p>We can all wait for a perfect solution that never arrives. Or, for right or wrong, we can make a decision. And in my experience, even the wrong decision tends to be better than no decision.</p>
			<p>Ironically, the fact that we can all get so bent out of shape when the decision doesn’t go our way shows a certain lack of empathy for everyone else involved. Yet, considering what we do, empathy for other people should be at the absolute centre of our skill sets. And maybe if we all got over our personal God-complexes, we might just see that.</p>
			<p>&nbsp;</p>

		</section>
		<footer class="entry-utility">

			<section class="meta">

				<iframe title="Twitter Tweet Button" class="twitter-share-button twitter-tweet-button twitter-share-button twitter-count-horizontal" id="twitter-widget-0" src="http://platform.twitter.com/widgets/tweet_button.26f01cfa05bff9af89657dcbd8f7b705.en.html#_=1425484347756&amp;count=horizontal&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fthebeebs.co.uk%2Fdo-developers-have-a-god-complex%2F&amp;size=m&amp;text=Do%20developers%20have%20a%20God%20Complex%3F&amp;url=http%3A%2F%2Fthebeebs.co.uk%2Fdo-developers-have-a-god-complex%2F&amp;via=Ubelly" frameborder="0" scrolling="no" style="width: 107px; height: 20px;" allowtransparency="true" data-twttr-rendered="true"></iframe>

				<div class="fbrecommend">
					<fb:like class=" fb_iframe_widget" href="http://thebeebs.co.uk/do-developers-have-a-god-complex/" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=recommend&amp;app_id=230825486971923&amp;container_width=0&amp;href=http%3A%2F%2Fthebeebs.co.uk%2Fdo-developers-have-a-god-complex%2F&amp;locale=en_US&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=450" action="recommend" font="" show_faces="true" width="450" send="true"><span style="width: 450px; height: 20px; vertical-align: bottom;"><iframe name="f39bb39e257afc8" width="450" height="1000" title="fb:like Facebook Social Plugin" src="http://www.facebook.com/plugins/like.php?action=recommend&amp;app_id=230825486971923&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FrFG58m7xAig.js%3Fversion%3D41%23cb%3Df3360898aa6a0bc%26domain%3Dthebeebs.co.uk%26origin%3Dhttp%253A%252F%252Fthebeebs.co.uk%252Ff22d997b398ba54%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Fthebeebs.co.uk%2Fdo-developers-have-a-god-complex%2F&amp;locale=en_US&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=450" frameborder="0" scrolling="no" style="border: currentColor; border-image: none; width: 450px; height: 20px; visibility: visible;" allowtransparency="true"></iframe></span></fb:like>
				</div>
				<div class="clearfix"></div>
			</section>

			<section class="authorbox">
				<h3>Published by thebeebs</h3>
				<img width="70" height="70" class="avatar avatar-70 photo" alt="" src="http://1.gravatar.com/avatar/d7b395c3c1e55fecb5eefecc3c78c4fa?s=70&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D70&amp;r=G">	<div class="authormeta">
					<p>Martin has been a web developer since 2000 and now work for Microsoft as a technical evangelist.</p>
				</div>
				<div class="clearfix"></div>
			</section>

		</footer>

	</article><!-- #post-19160 -->

	<div class="clearfix"></div>

	<section class="column-8" id="comments">


		<div class="comment-respond" id="respond">
			<h3 class="comment-reply-title" id="reply-title">Leave a Reply <small><a id="cancel-comment-reply-link" style="display: none;" href="/do-developers-have-a-god-complex/#respond" rel="nofollow">Cancel reply</a></small></h3>
			<form class="comment-form" id="commentform" action="http://thebeebs.co.uk/wp-comments-post.php" method="post">
				<p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>							<p class="comment-form-author"><label for="author">Name <span class="required">*</span></label> <input name="author" id="author" aria-required="true" type="text" size="30" value=""></p>
				<p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input name="email" id="email" aria-required="true" aria-describedby="email-notes" type="text" size="30" value=""></p>
				<p class="comment-form-url"><label for="url">Website</label> <input name="url" id="url" type="text" size="30" value=""></p>
				<p class="comment-form-comment"><label for="comment">Comment</label> <textarea name="comment" id="comment" aria-required="true" aria-describedby="form-allowed-tags" rows="8" cols="45"></textarea></p>						<p class="form-allowed-tags" id="form-allowed-tags">You may use these <abbr title="HyperText Markup Language">HTML</abbr> tags and attributes:  <code>&lt;a href="" title=""&gt; &lt;abbr title=""&gt; &lt;acronym title=""&gt; &lt;b&gt; &lt;blockquote cite=""&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=""&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=""&gt; &lt;strike&gt; &lt;strong&gt; </code></p>						<p class="form-submit">
					<input name="submit" class="submit" id="submit" type="submit" value="Post Comment">
					<input name="comment_post_ID" id="comment_post_ID" type="hidden" value="19160">
					<input name="comment_parent" id="comment_parent" type="hidden" value="0">
				</p>
			</form>
		</div><!-- #respond -->
		<div class="clearfix"></div>

	</section>

</section><!-- #content -->
<aside class="column-4 last" id="sidebar" role="complementary">
	<div class="widget-container widget_adrotate_widgets" id="adrotate_widgets-2"><section class="widget"><!-- Either there are no banners, they are disabled or none qualified for this location! --></section></div>
</aside>