@model PersonalSite.ViewModels.ContentOverview


        @foreach (var type in Model.Types)
        {
        <li class="@type.Symbol menu-item">
            <a href="/@type.Symbol/"><span class="icon"></span>@type.Name</a>
        </li>
        }

