<section class="column-8" id="content">
	<article class="post-19160 post type-post status-publish format-standard has-post-thumbnail hentry category-comment tag-promoted content-articles" id="post-19160">

		<section class="entry-content">


		</section>
		<footer class="entry-utility">

			<section class="authorbox">
				<h3>Published by thebeebs</h3>
				<img width="70" height="70" class="avatar avatar-70 photo" alt="" src="http://1.gravatar.com/avatar/d7b395c3c1e55fecb5eefecc3c78c4fa?s=70&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D70&amp;r=G">	<div class="authormeta">
					<p>Martin has been a web developer since 2000 and now work for Microsoft as a technical evangelist.</p>
				</div>
				<div class="clearfix"></div>
			</section>

		</footer>

	</article><!-- #post-19160 -->

	<div class="clearfix"></div>

	<section class="column-8" id="comments">


		<div class="comment-respond" id="respond">
			<h3 class="comment-reply-title" id="reply-title">Leave a Reply <small><a id="cancel-comment-reply-link" style="display: none;" href="/do-developers-have-a-god-complex/#respond" rel="nofollow">Cancel reply</a></small></h3>
			<form class="comment-form" id="commentform" action="http://thebeebs.co.uk/wp-comments-post.php" method="post">
				<p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>							<p class="comment-form-author"><label for="author">Name <span class="required">*</span></label> <input name="author" id="author" aria-required="true" type="text" size="30" value=""></p>
				<p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input name="email" id="email" aria-required="true" aria-describedby="email-notes" type="text" size="30" value=""></p>
				<p class="comment-form-url"><label for="url">Website</label> <input name="url" id="url" type="text" size="30" value=""></p>
				<p class="comment-form-comment"><label for="comment">Comment</label> <textarea name="comment" id="comment" aria-required="true" aria-describedby="form-allowed-tags" rows="8" cols="45"></textarea></p>						<p class="form-allowed-tags" id="form-allowed-tags">You may use these <abbr title="HyperText Markup Language">HTML</abbr> tags and attributes:  <code>&lt;a href="" title=""&gt; &lt;abbr title=""&gt; &lt;acronym title=""&gt; &lt;b&gt; &lt;blockquote cite=""&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=""&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=""&gt; &lt;strike&gt; &lt;strong&gt; </code></p>						<p class="form-submit">
					<input name="submit" class="submit" id="submit" type="submit" value="Post Comment">
					<input name="comment_post_ID" id="comment_post_ID" type="hidden" value="19160">
					<input name="comment_parent" id="comment_parent" type="hidden" value="0">
				</p>
			</form>
		</div><!-- #respond -->
		<div class="clearfix"></div>

	</section>

</section><!-- #content -->
<aside class="column-4 last" id="sidebar" role="complementary">
	<div class="widget-container widget_adrotate_widgets" id="adrotate_widgets-2"><section class="widget"><!-- Either there are no banners, they are disabled or none qualified for this location! --></section></div>
</aside>